/* THIS FILE IS JUST FOR EXAMPLES, DELETE IT IF YOU DON'T NEED IT */

.language-mermaid {  
  border-radius: 8px;
  color: var(--qwik-light-text);
  color: lightgray
}

body {
  background: var(--qwik-dark-background);
  color: var(--qwik-dark-text);
  overflow-x: hidden;
}

/* HEADINGS ------------------------------------- */
h1,
h2,
h3 {
  color: slategray;
  font-weight: 600;
  margin-bottom: 12px;
  margin-top: 12px;
  
}

h1 {
  font-size: 3.2rem;
}
h1 .highlight,
h3 .highlight {
  color: slategray;
}

h2 {
  font-weight: 400;
  font-size: 1.8rem;
}
h2 .highlight {
  font-weight: 700;
}

h3 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.6rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 2rem;
  }
}

/* TAGS ----------------------------------------- */
a {
  text-decoration: none;
  color: var(--qwik-light-blue);
}


/* BUTTONS -------------------------------------- */
a.button,
button {
  background: var(--qwik-light-blue);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 15px 20px;
  text-align: center;
}

a.button.button-dark,
button.button-dark {
  background: var(--qwik-dirty-black);
}

a.button.button-small,
button.button-small {
  padding: 15px 25px;
}

article > ul {
  list-style:disc;
  margin-top:8px;
  margin-bottom:8px;
  margin-left: 23px;

}

@media screen and (min-width: 768px) {
  a.button,
  button {
    font-size: 1rem;
    padding: 23px 35px;
  }
}

article > pre {
  background: var(--qwik-dark-background);
  border-radius: 8px;
  color: var(--qwik-dark-text);
  font-size: 0.8rem;
  padding: 20px;
  white-space: pre-wrap;
  margin-top:8px;
  margin-bottom:8px;
}

/* DESIGN --------------------------------------- */
.ellipsis {
  position: absolute;
  top: 100px;
  left: -100px;
  width: 400px;
  height: 400px;
  background: radial-gradient(
    57.58% 57.58% at 48.79% 42.42%,
    rgba(24, 180, 244, 0.5) 0%,
    rgba(46, 55, 114, 0) 63.22%
  );
  transform: rotate(5deg);
  opacity: 0.5;
  z-index: -1;
}
.ellipsis.ellipsis-purple {
  top: 1350px;
  left: -100px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(172, 127, 244, 0.5) 0%,
    rgba(21, 25, 52, 0) 100%
  );
  transform: rotate(-5deg);
}

@media screen and (min-width: 768px) {
  .ellipsis {
    top: -100px;
    left: 350px;
    width: 1400px;
    height: 800px;
  }
  .ellipsis.ellipsis-purple {
    top: 1300px;
    left: -200px;
  }
}