name: nuget

on:
  workflow_call:
    inputs:
      package-version:
        description: "The version for the package"
        type: "string"
        required: true
      packages-directory:
        description: "The directory to save the nuget packages to"
        type: "string"
        required: true

env:
  DOTNET_NOLOGO: true

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          show-progress: false
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            6.0.x
            7.0.x

      - name: Restore Packages
        run: dotnet restore

      - name: Build Solution
        run: dotnet build --no-restore --configuration Release

      - name: Create Packages
        shell: pwsh
        run: |
          $packArgs = @(
            '--no-restore',
            '--no-build',
            '--configuration', 'Release',
            '--output', '${{ inputs.packages-directory }}',
            ('--property:Version=' + '${{ inputs.package-version }}')
          )

          dotnet pack @packArgs

      - name: Push Packages
        if: false
        shell: pwsh
        env:
          NUGET_SOURCE: https://api.nuget.org/v3/index.json
        run: |
          Get-ChildItem -Path ${{ inputs.packages-directory }} *.nupkg | ForEach-Object {
              $pushArgs = @(
              $_.FullName,
              '--source', '${{ env.NUGET_SOURCE }}',
              '--api-key', '${{ secrets.NUGET_API_KEY }}',
              '--skip-duplicate'
              )

              dotnet nuget push @pushArgs
          }
